#schCred{margin:15px 10px}
#jqxTabs{margin:15px 10px}
#ui-datepicker-div{z-index:1000 !important}
#btnFacturar{float:right;margin:10px 0;padding:3px 10px;font-size:1.2em;background-color:#a4bed4;border-radius:7px;cursor:pointer}