.content-opciones{
    padding:20px;
    margin:20px;
    border: 1px solid #aaa;
}


td.label{
    width:150px;
}

.button-content{
    margin-top: 30px;
    padding-top: 30px;
    border-top:1px solid #eee;
    display: block;
}

.opt-content{
    display: block;
    min-height: 250px;
    
}