#jqxgrid{
    margin-top: 15px;
    margin-left: 15px;
}

.content-form{
    width: 950px;
    min-height: 450px;
    float: left;
}
.content-forment{
    height: 200px;
    width: 800px;
}

.content-formadd{
    width: 480px;
}

.content-formchk{
    width: 780px;
}

.elem_med{
    width: 360px;
    float: left;
    clear: none!important;    
    margin-right: 80px;
}
.elem_med input{
    width: 80px;
    margin-right: 30px;
}

.form_cuentbanco .elem_med label{
    width: 220px;
}

#tabs-3 .elem_med{
    margin-left: 50px;
}

.indent{
    margin-left: 106px!important;
}
.indent.impt{
    margin-left: 220px!important;
}
.indent.impt input{
    width:10px;
    margin-right:5px
}
.elem label{
    padding-top: 8px;
}

.btn_add_footer{
   float: left; margin-top:20px;
}

.btn_add_footer input{
    margin-left: 20px;
}
.content-formadd .title,.content-formchk .title{
    width: 98%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.medium{
    width: 605px !important;
}
.medium-select{
    width: 258px !important;
}

.medium-select1{
    width: 638px !important;
}


.formError{
    left: 589px !important;
}
#label_action{
    margin-right: 5px;
    float: left;
}
.to-right{
    float: right;
    margin-right: 12px;
}
.tabNavigation li img{
    position: relative;
    top: 2px;
    margin-right: 3px;
}
.tabNavigation li a{
    position: relative;
    top: -4px;
}

#tabs .content-gird div p{
    min-height: 26px;
    line-height: 20px;
}
.contenedor_entidades{
    margin-top:20px;
    margin-left: 15px;
    width: 140px;
    float: left;
    border: 1px solid #e3e3e3;
    margin-right: 27px;
    padding: 9px;
}
#tabs .content-gird{
    min-height: 490px;
}
.contenedor_entidades2{
    width: 640px;
    float: left;
    padding-top: 20px;
}
.lista_opciones{
    height: 30px;
    width: 30px;
    margin-top: 18px;
    float: left;
    cursor: pointer;
}
.lista_opciones.add{
    background: url('../../../../../general/css/images/32x32/Add.png') no-repeat 50% 6px !important;
    background-size:20px 20px !important;
}
.lista_opciones.save{
    background: url('../../../../../general/css/images/32x32/Floppy.png') no-repeat 50% 6px !important;
    background-size:20px 20px !important;
}
#add_banco{
    margin-left: 45px;
    margin-top: 7px;
    margin-bottom: 15px;
}
.lista_ents,.lista_banco{
    list-style: none;
    margin-top: 35px;
    float: left;
    margin-left: 23px;
}
.lista_ents li,.lista_banco li{
    margin-top: 3px;
    width: 637px;
    height: 26px;
    float: left;
    clear: both;
    background: url('../../../../../general/css/images/32x32/Close.png') no-repeat 99% 6px !important;
    background-size:18px 18px !important;
    cursor: pointer;
    padding-left: 9px;
    padding-top: 7px;
    color: white;
    background-color: #3B8EF3!important;
    font-weight: bold;
    font-size: 13px;
}
.lista_banco li{
    width: 840px!important;
    
    
}

.lista_banco li span{
    width: 50px;
    overflow: hidden;
}
.elempie{
    float: right;
    margin-right: 18px;
}
.provinciaformError {
    top: 365px!important;
    left: 589px!important;
}
.nombreformError{
    top: 245px!important;
    left: 730px!important;
}
.tipoopeformError {
    top: 324px!important;
    left: 300px!important;
}
.copeformError{
    top: 400px!important;
    left: 300px!important;
}
.jefeopeformError{
    top: 363px!important;
    left: 770px!important;
}
.checklist_cont{
    margin-top: 20px;
}
iframe{
    display: none;
}
#upload_file1{
    display: none;
    position: absolute;
    top: 475px;
    left: 132px;
}
.uploader{
    float: left;
}
#btnSubirfile{
    float: left;
    height: 30px!important;
    margin-left: 10px;
    min-width: 100px;
}
.download_file{
    float: left;
    background: url('../../../../../general/css/images/32x32/Down.png') no-repeat 50% 10px !important;
    background-size:20px 20px !important;
    width: 40px;
    height: 40px;
}
#bancoope_chosen{width:140px !important}
div.cb{clear:both}

#cambio_tasa2, #cambio_tasa2 tr{border-collapse:collapse}
#cambio_tasa2  td, #cambio_tasa2 th{text-align:center;border-collapse:collapse;border:1px #777 solid;}
#pct{font-size:1.2em;text-align:center;color:#1a6800;padding:10px 0 0}
#cambio_tasa table .fa{color:#0044ff;text-align:center;cursor:pointer}