.content-cuotas{
    float: left;
    display: inline;
    clear: both;
    min-height: 800px;
    padding-bottom: 20px;
    width:100%;
}


#div-list-cuotas   .div-result  ul{
    float: left;
    clear: both;
    width:90%;
    list-style: none;
}

#div-list-cuotas   .div-result  ul > li{
    float: left;
    position: relative;
    clear: both;
    width:100%;
    padding: 3px 0px;

}

#div-list-cuotas   ul > li.cuotas{
    float: left;
    position: relative;
    width:100%;
    padding: 3px 0px;
        border-bottom: 1px solid #dddbdb;

}

#div-list-cuotas    ul li.over .linea-cuota{
    background: #dddbdb;
    cursor: pointer;
}

#div-list-cuotas    ul li span{
    float: left;
    position: relative;
    min-width: 70px;
}

#div-list-cuotas    ul li span.fecha_no_select{
    width:70px;
}
#div-list-cuotas    ul li span.fecha_sp{    width:70px; cursor: pointer; text-decoration: underline}
#div-list-cuotas    ul li span.cuota{    width:50px; }
#div-list-cuotas   ul li span.capital{    width:90px; }
#div-list-cuotas   ul li span.por_int_compensatoriol{    width:70px; }

/*FULLFIELD*/
.full_field{
    float: left;
    display: inline;
    clear: both;
    width: 100%;
    padding: 7px 0px;
    font-family: sans-serif;
    line-height: 20px;
}

.full_field input{
    border: 1px solid #33ccff;
    border-radius: 5px;
    width: 80%;
    padding: 5px;
    color: #989999;
}

.full_field span{
    width:150px;
    float: left;
}


/*MIDFIELD*/
.mid_field{
    float: left;
    display: inline;
    width: 120px;
    padding: 7px 0px;
    font-family: sans-serif;
    line-height: 20px;
    padding-right: 30px;
}
.mid_field input{
    border: 1px solid #33ccff;
    border-radius: 5px;
    width: 80%;
    padding: 5px;
    color: #989999;
}

.form_cuotas{
    padding:20px;
    margin:20px;
    border: 1px solid #dddbdb;
    overflow: hidden;
}


ul.ul-cuotas{
    padding:0px 3px;
    margin: 0% 3px;
    list-style: none;
}

ul.ul-titulo-segmento{
    padding:0px 0%;
    margin: 0px 3px;    
    font-weight: bold;
    list-style: none;
}

ul.ul-titulo{
    padding:3px 3px;
    margin: 2px 3px;    
    font-weight: bold;
    background: black;
    color: white;
    border-radius: 5px;
}

ul.ul-cuotas ul li.cuotas{
    float: left;
    margin-left: 30px;
    
}

ul.ul-titulo-segmento li{
    margin-left: 0px !important;
    float: left;
    
}

.content-segmento{
    float: left;
    display: block;
    background: #e4f7ff;
    border-radius: 5px;
    margin:5px 0px;
    width:100%;
    padding:5px;
}

.linea-cuota{
    float: left;
    background: #bffff6;
}

.div-result{
    float: left;
    padding-left: 10px;
}

.content-segmento li.subcuentas.over{
    background: #3DC7F8;
    color: white;
}

.subcuentas span.remove{
    cursor: pointer;
    background: red;
    color: white;
    width:60px !important;
    min-width: 0px !important;
    text-align: center;
}
.subcuentas span.edit{
    cursor: pointer;
    background: red;
    color: white;
    width:60px !important;
    min-width: 0px !important;
    text-align: center;
}

.subcuentas .opciones_evento{
    float: right;
}

.subcuentas{
    clear: both;
}