.main_window.login{
    width:auto;    
}
.login_error{
    color:red;
    width: 300px;
    float: left;
    display: inline;
    clear: both;
    display: none;
}
.button_form div{
    float:left;
    padding-top: 9px;
    margin-left: 20px;
    color:#3DC7F8;
    cursor: pointer;
}
.remember{
    width: 390px;
    height: 150px;
    margin-top: 67px;
}
.msgajax{
    float: left;
    clear: both;
    width: 365px;
    text-align: center;
    margin-top: 13px;
    display: none;
}
.window-login{
    margin-left: auto;
    margin-right: auto;
    width: 294px;
    height: 224px;
    text-align: left;
    margin-top: 38px;
    background: white;
    padding: 30px 20px 20px;
    border-radius: 10px;
    box-shadow: 1px 3px 3px gainsboro;
    z-index: 10;
    border-bottom: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}
.title_login{
    text-align: center;
    font-size: 25px;
    height: 11px;
    padding-top: 20px;
    color: #3CF;
}
.button-a, .button-a span{
    height: 30px!important;
}