/*CUOTAS*/

.lista-informe.cuotas{
    padding: 0px 10px;
    width:100%;
}

.lista-informe.cuotas .numero-desembolso{
    width: 80px;
}
.lista-informe.cuotas .fecha-desembolso{
    width: 140px;
}
.lista-informe.cuotas .monto-desembolso{
    width: 120px;
}
.lista-informe.cuotas .porcentaje-desembolso{
    width: 120px;
}

.lista-informe.cuotas .datos.mora{
    color: red;
}
.lista-informe.cuotas .datos.cancelada{
    color: green;
}

.especificaciones{
    float: left;
    width:80%;
    margin:10px;
    padding: 10px;
    border: 1px solid #E0E9F5;
}

.especificaciones ul{
    list-style: none;
    float: left;
}
.especificaciones ul li{
    float: left;
    width:100%;
    clear: both;
}

.especificaciones ul li span{
    float: left;
    position: relative;
}
.especificaciones ul li span.dato-esp, span.titulo-estado{
    width:100px;
    text-align:right;
}
span.titulo-estado:nth-child(1){text-align:left;}
.especificaciones ul li span.titulo-estado{
    font-weight: bold;
}
.especificaciones ul li span.titulo-esp.titulo-estado,
.especificaciones ul li span.titulo-esp{
    width:150px;
    font-weight: bold;
}


.especificaciones ul li span.res{
    color: red;
}

.especificaciones ul li span.total{
    font-size: 14px;
}

.totales-cuota, .totales-cuota-c{
    border-radius: 3px;
    border:1px solid #e7edf0;
    background: #e7edf0;
    
}
.totales-cuota-c{font-weight:bold;}


.datos .opcion{
    cursor: pointer;
}


.datos.totales{
    background: #d1e7ff;
}











/*EVENTOS CUOTAS**/
.col-titulos{
    width:150px;
    float: left;
    position: relative;
    border:1px solid #999;
}

.col-titulos .t2{
    float: left;
    width:100%;
    
}
.col-titulos .t1{
    float: left;
    width:100%;
    
}

.col-titulos .full{
    float: left;
    width:100%;
    position: relative;
    text-align: center;
}

.col-titulos .full .col{
    float: left;
    border-right: 1px solid #eee;
    width:48px;
    min-width:0px !important; 
    overflow: hidden;
}

.col-titulos .full .col3{
    float: left;
    border-right: 1px solid #eee;
    width:149px;
    
    min-width:0px !important; 
    overflow: hidden;
}
.col-titulos .full.total{
    float: left;
    border-top: 1px solid #999999;
    
    overflow: hidden;
}

.scroll-evolucion{
    float: left;
    
    height: auto;
    
    padding-bottom: 30px;
    width:100%;
    overflow-x: auto;
    color: black;
    box-sizing: content-box;
}

.scroll-evolucion .pagos-evolucion{
    float: left;
    width:1100px;
    
}

.full.tit{
    border-bottom: 1px solid #999;
}
.full.subtit{
    border-bottom: 1px solid #999;
}