.content-cuotas-variaciones{
    float: left;
    padding:20px;
    margin:15px;
    border: 1px solid #e4e3e3;
}

.content-cuotas-variaciones ul{
    width:100%;
    float: left;
    clear: both;
}
.content-cuotas-variaciones li{
    width:100%;
    float: left;
    clear: both;
    padding:3px 0px;
    
}

.content-cuotas-variaciones li span{
    float: left;
    width:150px;
    position: relative;
}


.segmentos-ul{
    margin-left: 15px;
    list-style: none;
}


.saldo_cuotas{
    float: left;
    width:100%;
    display: block;
    position: relative;
}

.saldo_cuotas ul li{
    float: left;
    width:100%;
    position: relative;
    display: block;
    padding:5px 0px;
    margin: 5px 0px;
    border-bottom: 1px solid #e4e3e3;
}

.saldo_cuotas ul li div{
    float: left;
    display: block;
    position: relative;
    width:100%;
    padding:3px 0px;
}

.content-cuotas-detalle span{
    float: left;
    display: inline;
    min-width: 150px;
    padding:0px 10px;
}


.content-cuotas-detalle span.splabel{
    width:250px;
}
.content-cuotas-detalle span.total{
    width:150px;
}
.content-cuotas-detalle  span.cancelado{
    width:150px;
}
.content-cuotas-detalle span.saldo{
    width:150px;
}

.resumen-cuota{
    float: left;
    padding:5px;
    border-radius: 5px;
    background: #2b45ff;
    width:60% !important;
    color: white;
}



/*PAGOS*/
.ul-lista-pagos{
    float: left;
    display: block;
    width:100%;
}

.ul-lista-pagos li{
    float: left;
    width:100%;
    position: relative;
}

.ul-lista-pagos li span{
    float: left;
    position: relative;
    min-width: 120px;
}
.ul-lista-pagos li span.detalle-pago{
    float: left;
    position: relative;
    min-width: 120px;
}
.ul-lista-pagos li span.monto-pago{
    float: left;
    position: relative;
    min-width: 120px;
}


.ul-lista-pagos .full_field{
    width:100%;
}

.div-result{
    width:100%;
    float: left;
}

.titulos-saldos{
    border: none !important;
    font-weight: bold;
}

.titulo_cuota{
    font-weight: bold;
    padding:3px;
    border-radius: 5px;
    background: black;
    color: white;
}

.cuotas_div_pagos{
    float: left;
    width:500px;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    background: #fbffcc;
}

.cuotas_div_pagos .cuota_title{
    float: left;
    clear: both;
    width:400px;
    padding:3px 0px;
    font-weight: bolder;
    
    
}

.content-cuotas-detalle > div{
    float: left;
    overflow: hidden;
    height: auto;
    width: 900px;
        
}

.full_field.resta{
    color: red;
}