.cuotas_credito{
    float: left;
    clear: both;
    padding: 0px 20px;
    margin:0px 20px;
    
}

.cuotas_credito ul{
    float: left;
    list-style: none;
}

.cuotas_credito ul li{
    float: left;
    clear: both;
    width:100%;
    padding:2px 0px;
    margin:2px 0px;
    border-bottom: 1px solid #eee;
    
}

.cuotas_credito ul li span{
    float: left;
    width:150px;
    position: relative;
    padding:5px;
}

.field-buttons {
    float: left;
    margin: 15px 15px 0 0;
    width: 100%;
    clear: both;
}

.field-buttons.top{
    padding-bottom: 15px;
}
.field-buttons.bottom{
    padding-top: 15px;
}

.field-buttons .button-a{
    float: left;
}

.lista_archivos{
  border: 1px solid #E3E3E3;
    clear: both;
    float: left;
    margin: 10px 20px;
    padding: 20px;
    position: relative;    
    
}

.lista_archivos .titulo-sp{
    float: left;
    font-weight: bolder;
    font-size: 16px;
    clear: both;
    width:100%;
    padding:15px 0px;
}

.lista_archivos ul{
    float: left;
    list-style: none;
}

.lista_archivos ul.titulo{
    font-weight: bolder;
} 

.lista_archivos ul li{
    float: left;
    list-style: none;
    clear:both;
    width:100%;
}
.lista_archivos ul li span{
    float: left;
    list-style: none;
    position: relative;
    width:200px;
}

.lista-extract{
    float: left;
    position: relative;
    clear: both;
    padding:10px;
    margin:10px 0px;
    
}

.lista-extract ul{
    float: left;
    list-style: none;
}
.lista-extract ul li{
    float: left;
    list-style: none;
    clear:both;
    width:100%;
}
.lista-extract ul li span{
    float: left;
    list-style: none;
    position: relative;
    width:120px;
}

.opciones_extract{
    float: left;
    width:100%;
    clear: both;
    padding:5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ebe9e9;
}

.lista-extract ul.titulo{
    font-weight: bolder;
} 
.lista-extract ul.datos{
    height:500px;
    overflow-x: hidden;
    overflow-y: auto;
    width:100%;
} 

.lista-extract ul.datos li.over{
    background: #ebe9e9;
}

.lista-extract ul.datos li.ingresado{
    color:#aaa;
}

.lista-extract ul.datos li.ingresado .opciones_chk{
    display: none;
}

#btnInvertir{

    margin-left: 547px;
}

.opciones_extract > button{
    float: left;
    position: relative;
}

.importe.dinero span{
    margin-right: 30px;
    float: right;
}
.importe.dinero{
    text-align: right;
    box-sizing: border-box;
}