#wpopup{
    clear: both;
}
/*
verfoto img{
    
    position: relative;
    left: 13px;
    top: 13px;
    
}
*/
.verfoto{
    float: left;
}
.myfile .uploader{
    
    float: left;
}

#btnClear, #send, #btnBorrar,#asignar{
    height: 30px;
}


/* buttons */
.toolbar{
    float: left;
/*    width: 500px;*/
    list-style: none;
    margin: 15px 10px 15px 10px;

}

.toolbar li{
    float: left;
    text-align: center;
    /*width: 60px;*/
    cursor: pointer;
    padding: 6px;
    min-height: 56px;
    min-width: 60px;
}
.toolbar li div{
    position: relative;
    top: 38px;
}
.li_sel{
    -webkit-box-shadow: 1px 1px 22px rgba(102, 102, 102, 1);
    -moz-box-shadow:    1px 1px 22px rgba(102, 102, 102, 1);
    box-shadow:         1px 1px 22px rgba(102, 102, 102, 1);
    background-color: #F0EDEE!important;
}
.tb_add{
    background: url('../../general/css/images/32x32/Add.png') no-repeat 50% 6px !important;
}
.tb_edi{
    background: url('../../general/css/images/32x32/Edit.png') no-repeat 50% 6px !important;
}
.tb_del{
    background: url('../../general/css/images/32x32/Delete.png') no-repeat 50% 6px !important;
}
.tb_search{
    background: url('../../general/css/images/32x32/Search.png') no-repeat 50% 6px !important;
}
.tb_ent{
    background: url('../../general/css/images/32x32/User.png') no-repeat 50% 6px !important;
}
.tb_fil{
    background: url('../../general/css/images/32x32/Window.png') no-repeat 50% 6px !important;
}
.tb_ope{
    background: url('../../general/css/images/32x32/Stats.png') no-repeat 50% 6px !important;
}
.tb_chk{
    background: url('../../general/css/images/32x32/Check.jpg') no-repeat 50% 6px !important;
}
.tb_lis{
    background: url('../../general/css/images/32x32/listados.jpg') no-repeat 50% 6px !important;
}
.tb_imp{
    background: url('../../general/css/images/32x32/exportar.png') no-repeat 50% 6px !important;
}
.tb_exp{
    background: url('../../general/css/images/32x32/exportar.png') no-repeat 50% 6px !important;
}
.tb_exc{
    background: url('../../general/css/images/32x32/excel.png') no-repeat 50% 6px !important;
}
.tb_csv{
    background: url('../../general/css/images/32x32/csv.png') no-repeat 50% 6px !important;
}
.tb_htm{
    background: url('../../general/css/images/32x32/html.png') no-repeat 50% 6px !important;
}
.tb_xml{
    background: url('../../general/css/images/32x32/xml.png') no-repeat 50% 6px !important;
}
.tb_rol{
    background: url('../../general/css/images/32x32/roles.jpg') no-repeat 50% 6px !important;
}
.tb_per{
    background: url('../../general/css/images/32x32/permisos.png') no-repeat 50% 6px !important;
}
.tb_atras{
    background: url('../../general/css/images/32x32/Back.png') no-repeat 50% 6px !important;
}
.tb_chist{
    background: url('../../general/css/images/32x32/Stationery.png') no-repeat 50% 6px !important;
}
.tb_ves{
    background: url('../../general/css/images/32x32/Forward.png') no-repeat 50% 6px !important;
}
.tb_usu{
    background: url('../../general/css/images/32x32/usuarios.png') no-repeat 50% 6px !important;
}
.tb_ver{
    background: url('../../general/css/images/32x32/casa.png') no-repeat 50% 6px !important;
}
.tb_cli{
    background: url('../../general/css/images/32x32/clientes.jpg') no-repeat 50% 6px !important;
}
.tb_enviar{
    background: url('../../general/css/images/32x32/clientes.jpg') no-repeat 50% 6px !important;
}
.tb_ents{
    background: url('../../general/css/images/32x32/entidad.jpg') no-repeat 50% 6px !important;
}
.tb_menu{
    background: url('../../general/css/images/32x32/menu.png') no-repeat 50% 6px !important;
}
.tb_save{
    background: url('../../general/css/images/32x32/guardar.png') no-repeat 50% 6px !important;
}
.tb_save1{
    background: url('../../general/css/images/32x32/Floppy.png') no-repeat 50% 6px !important;
}
.tb_edi_hist{
    background: url('../../general/css/images/32x32/Write.png') no-repeat 50% 6px !important;
}

.tb_check{
    background: url('../../general/css/images/32x32/checkall.png') no-repeat 50% 6px !important;
}

.tb_pagos{
    background: url('../../general/css/images/32x32/monedas.jpg') no-repeat 50% 6px !important;
}


.tb_uncheck{
    background: url('../../general/css/images/32x32/uncheckall.png') no-repeat 50% 6px !important;
}
.tb_expandir{
    background: url('../../general/css/images/32x32/expandir.png') no-repeat 50% 6px !important;
}
.tb_colapsar{
    background: url('../../general/css/images/32x32/colapsar.png') no-repeat 50% 6px !important;
}
.tb_etapas{
    background: url('../../general/css/images/32x32/etapas.jpg') no-repeat 50% 6px !important;
}

.tb_are{
    background: url('../../general/css/images/32x32/areas.jpg') no-repeat 50% 6px !important;
}
.tb_pue{
    background: url('../../general/css/images/32x32/puestos.jpg') no-repeat 50% 6px !important;
}

.tb_cart{
    background: url('../../general/css/images/32x32/carterade.png') no-repeat 50% 6px !important;
}
.tb_pend{
    background: url('../../general/css/images/32x32/Mail.png') no-repeat 50% 6px !important;
}
.tb_autor{
    background: url('../../general/css/images/32x32/porautorizar.jpg') no-repeat 50% 6px !important;
}
.tb_mendoza{
    background: url('../../general/css/images/32x32/mendoza.png') no-repeat 50% 6px !important;
    width: 345px;
    height: 345px;
    line-height: 635px;
    font-weight: bold;
    font-size: 28px;
    padding-top: 26px!important;
    padding-bottom: 48px!important;
}
.tb_sanjuan{
    background: url('../../general/css/images/32x32/sanjuan.png') no-repeat 50% 6px !important;
    width: 345px;
    height: 345px;
    line-height: 635px;
    font-weight: bold;
    font-size: 28px;
    padding-top: 26px!important;
    padding-bottom: 48px!important;
}
.tb_importar{
    background: url('../../general/css/images/32x32/importar.png') no-repeat 50% 48px !important;
    width: 345px;
    height: 345px;
    line-height: 635px;
    font-weight: bold;
    font-size: 28px;
    padding-top: 26px!important;
    padding-bottom: 48px!important;
}
.tb_cerrar{
    background: url('../../general/css/images/32x32/Close.png') no-repeat 50% 6px !important;
}
.tb_todas{
    background: url('../../general/css/images/32x32/todas.jpg') no-repeat 50% 6px !important;
}
.tb_desis{
    background: url('../../general/css/images/32x32/Stop.png') no-repeat 50% 6px !important;
}
.tb_miscar{
    background: url('../../general/css/images/32x32/miscarpetas.png') no-repeat 50% 6px !important;
}
.tb_des{
    background: url('../../general/css/images/32x32/Undo.png') no-repeat 50% 6px !important;
}
.tb_haciaatras{
    background: url('../../general/css/images/32x32/Undo.png') no-repeat 50% 6px !important;
}
.tb_vestirse{
    background: url('../../general/css/images/32x32/Redo.png') no-repeat 50% 6px !important;
}


.tb_si{
    background: url('../../general/css/images/32x32/checked.png') no-repeat 50% 6px !important;
    background-size:25px 25px!important;
}
.tb_no{
    background: url('../../general/css/images/32x32/Close.png') no-repeat 50% 6px !important;
    background-size:25px 25px!important;
}
.tb_min{
    background: url('../../general/css/images/32x32/entidad.jpg') no-repeat 50% 6px !important;
    background-size:10px 10px!important;
    width: 18px!important;
    min-height: 10px!important;
    float: left;
}

.tb_bloq1{
    
    height: 15px!important;
    min-height:0!important;
    float: left;
}



.tb_sep{
    float: left;
    text-align: center;
    padding: 6px;
    min-height: 56px;
    min-width: 0px!important;
    border-right: 1px solid #d1d2d5;
    padding-left: 0px!important;
    margin-right: 6px;
}

/* fin buttons */


#jqxlistbox{
    margin-top:10px;
    margin-bottom:10px;
    float: right!important;
    margin-right: 3px!important;
}

.search{
    display: none;
}
.div_exportar .titulo{
    
    font-size: 16px;
    font-weight: bold;
    
}
input.styled { display: none; }
select.styled { position: relative; width: ' + selectWidth + 'px; opacity: 0; filter: alpha(opacity=0); z-index: 5; }
.disabled { opacity: 0.5; filter: alpha(opacity=50); }
.ancho100{
    width: 100%;
}
.nota_pie{
    float:left;
}
.nota_pie a:hover,.nota_pie a:link,.nota_pie a:visited{
    color: #0039E9;
    text-decoration: none;
}
.notif{
    color: yellow;
    float: left;
    padding-top: 8px;
    font-size: 15px;
    cursor: pointer;
}
#notif_div{
    display: none;
}
.menu_sel{
    border-bottom: 2px solid gray;
    
}


.link_asignar_atras,.link_asignar,.link_asignar_tipob,.link_aceptar_carpeta{
    float: left;
    font-size: 16px;
    margin: 3px;
    cursor: pointer;
    color:blue;
    padding: 6px;
    color: white;
    background-color: #3B8EF3;
}

.link_asignar,.link_asignar_tipob,.link_asignar_atras{
    clear:both;
    min-width: 700px;
}
.link_aceptar_carpeta{
    clear: none;
    min-width: 300px;
}

.link_aceptar{
    float: left;
    clear: none;
    font-size: 16px;
    margin: 3px;
    cursor: pointer;
    color:blue;
    width: 30px;
    padding: 0;
    color: white;
    background-color: red;
    height: 32px;
    margin-top: 0;
}

.asignar_titulo{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 12px;
    width: 170px;
    float: left;
    line-height: 15px;
}
#asignar{
    display: none;
}
.link_aceptar_carpeta span{
    color: black;
}
.opciones{
    float: left;
    color:yellow;
    border: 1px solid black;
    background-color: red;
    padding-left: 11px;
    padding-right: 11px;
    margin-right: 4px;
}
.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #d1d1d1) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #d1d1d1 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d1d1d1');
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
    margin-right: 10px;
}.myButton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d1d1d1), color-stop(1, #ffffff) );
    background:-moz-linear-gradient( center top, #d1d1d1 5%, #ffffff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#ffffff');
    background-color:#d1d1d1;
}.myButton:active {
    position:relative;
    top:1px;
}
.info_div{
    display: none;
}
.regresar_ar{
    width: 70px;
    float: left;
    color:blue;
    cursor:pointer;
    text-decoration: underline;
}
.rechazado{
    background-color: red;
}
.tmfoca{
    float: left;
    background: url('../../general/css/images/logotm.png') no-repeat !important;
    width: 80px;
    height: 33px;
    position: relative;
    top: -8px;
    margin-right: 5px;
}
.info-footer #left{
    cursor: pointer;
    float: right;
    margin-right: 13px;
} 
#form #left{
    clear: both;
    margin-top: 27px;
    margin-left: 36px;
    padding-top: 19x;
    float: left;
    width: 374px;
    cursor: pointer;
}
.notif_titulo{
    font-size: 18px;
    margin-left: 3px;
    font-weight: bold;
}
#middle #container-main{
    margin-top: -40px;
}

.form-import{display:none;}
#msgs,.form-import{clear:both;width:98%;margin-left:15px}
.form-import h2{margin:20px 0 10px;color:#0044ff;font-size:24px}
.form-import form{clear:both}

#msg_ok{color:green;font-weight:bold}
#msg_err{color:red;font-weight:bold;margin-top:10px}
