
	#form {
		margin-top:70px;
	}
	
	#form-login {
		background-color:#FFF;
		border:1px solid #ededed;
		width:375px;
		height:270px;
		margin:auto;
		padding:20px;
		background: #f7f7f7; /* Old browsers */
		background: -moz-linear-gradient(top, #f7f7f7 0%, #e9e9e9 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e9e9e9)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #f7f7f7 0%,#e9e9e9 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #f7f7f7 0%,#e9e9e9 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #f7f7f7 0%,#e9e9e9 100%); /* IE10+ */
		background: linear-gradient(top, #f7f7f7 0%,#e9e9e9 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	
	#content {
		margin-top:40px;
	}
	
	#logo {
		color:#55585d; 
		font-size:20px; 
		font-family: 'Cuprum', Arial, sans-serif;
		display:block;
	}
	
	.cambiarpassword_div input[type=text],.cambiarpassword_div input[type=password] {
		//background-image:url(fideicomiso/general/css/images/input-login.png);
                background-image:url(../../../../general/css/images//input-login.png);
		width:245px;
		height:40px;
		border:0;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding-left:100px;
		padding-right:30px;
		font-size:16px;
		font-family: 'Cuprum', Arial, sans-serif;
		color:#999999;
	}
	#pass {
		background-position:0px -43px;
		margin-top:20px;
	}

	.cambiarpassword_div  .buttons {
		margin-top:20px!important;
                float: left!important;
                width: 477px!important;
	}
        
        #btn_cambiar_pass {
            margin-right: 92px!important;
        }
        
	.cambiarpassword_div .button-a.blue {
		background: rgb(128,194,244); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(128,194,244,1) 0%, rgba(96,178,241,1) 0%, rgba(38,134,210,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(128,194,244,1)), color-stop(0%,rgba(96,178,241,1)), color-stop(100%,rgba(38,134,210,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(128,194,244,1) 0%,rgba(96,178,241,1) 0%,rgba(38,134,210,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(128,194,244,1) 0%,rgba(96,178,241,1) 0%,rgba(38,134,210,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(128,194,244,1) 0%,rgba(96,178,241,1) 0%,rgba(38,134,210,1) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(128,194,244,1) 0%,rgba(96,178,241,1) 0%,rgba(38,134,210,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80c2f4', endColorstr='#2686d2',GradientType=0 ); /* IE6-9 */
		width:100px;
		float:right;
		padding:0px 0px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;	
	}
        
        #logo_admin {
            border: 1px solid #EDEDED;
            margin: auto;
            padding: 20px;
            width: 375px;
            text-align: center;
        }