.lista-creditos-migracion{
    float: left;
    display: block;
    width:95%;
    
    font-family: Verdana,Arial,sans-serif;
    font-size: 13px;
    font-style: normal;    
    
    box-sizing:border-box;
    margin-left: 15px;
    margin-top: 15px;
    border-top: 1px solid #A4BED4;
    border-left: 1px solid #A4BED4;    
    
}

.lista-creditos-migracion ul{
    list-style: none;
}

.lista-creditos-migracion ul li{
    float: left;
    display: block;
    
}
.lista-creditos-migracion ul li span.id_credito{
    width:90px;
}
.lista-creditos-migracion ul li span.cliente{
    width:250px;
}
.lista-creditos-migracion ul li span.monto{
    width:150px;
}
.lista-creditos-migracion ul li span.cantidad_cuotas{
    width:90px;
}
.lista-creditos-migracion ul li span.seleccionar{
    width:90px;
    text-align: center;
}
    
.lista-creditos-migracion ul li span{
    box-sizing:border-box;
    moz-box-sizing:border-box;
    padding: 4px 6px;
    border-bottom: 1px solid #A4BED4;
    border-right: 1px solid #A4BED4;
    
    float: left;
    display: block;
    position: relative;
}


.lista-creditos-migracion ul.titulo li span{
    text-align: center;
    background: #E0E9F5;
}
.lista-creditos-migracion ul.datos li span.monto{
    text-align: right;
}


.opciones-credito{
    float: left;
    display: inline;
    clear: both;
    
}

.opciones-credito span{
    float: left;
    display: block;
    position: relative;
    cursor: pointer;
}